*{
    box-sizing : border-box;
    margin : 0px;
    padding : 0px;
    font-family : Helvetica, Arial, sans-serif;
}

body{
    margin : auto 5px;
}

h1{
    margin-top : 25px;
    margin-bottom:35px;
    text-align:center;
    font-size:1.75em;
}

section{
    position : relative;
    margin : 10px;
    border : 1px solid black;
    background-color: gray;
}

p.title{
    position : absolute;
    top : 0%;
    right : 0%;
    width : 25%;
    border : 1px solid black;
    text-align : center;
    font-size : 0.75em;

}
#s1 {background-color: #D59898;}
#s2 {background-color: #C14543;}
#s3 {background-color: #E5D198;}

p.content{
    margin-top : 1.25 em;
    padding : 2em;
}

.row{
    width : 100%;
}

@media (min-width : 992px){
    .col-dtp-4{
        float : left;
        width : 33.33%;
    }
}

@media (min-width : 768px) and (max-width : 991px){
    .col-tbl-6, .col-tbl-12{
        float : left;
    }
    .col-tbl-6{
        width : 50%;
    }
    .col-tbl-12{
        width : 100%;
    }
}
@media (max-width: 767px) {
	.col-mob-12 {
		width: 100%;
		float: left;
	}
}